<article>
  <form #mathForm="ngForm" (ngSubmit)="calculate(mathForm.value)">
    <div>
      <label for="number-1">Number 1</label>
      <input type="text" id="number-1" name="number1" required>
    </div>
    <div>
      <label for="number-2">Number 2</label>
      <input type="text" id="number-2" name="number2" required>
    </div>
    <div>
      <label for="number-3">Number 3</label>
      <input type="text" id="number-3" name="number3" required>
    </div>
    <button type="submit" [disabled]="!mathForm.form.valid">Calculate
    </button>

  </form>
  <h3>{{output}}</h3>
  <p class="error">{{validation}}</p>
</article>
